---
import Layout from '@/layouts/Layout.astro';

import BottonAvailable from '@/components/BottonAvailable.astro';

import {work} from '@cv';
import Footer from '@/components/Footer.astro';
import MainContainer from '@/components/MainContainer.astro';
import AsideButtonContainer from '@/components/AsideButtonContainer.astro';
---

<!-- Contenedor Principal -->
<Layout
	title="<ManuelDenis developer={full.Stack} content={portafolio} />"
	description='"Desarrollador Web Full Stack Junior apasionado por la tecnología y el aprendizaje constante. Descubre mi portafolio para ver mis proyectos más recientes y mi crecimiento en el campo del desarrollo web."'>
	<!-- Contenedor de la pagina principal -->
	<MainContainer>
		<BottonAvailable />
		<section class="mx-auto flex max-w-md flex-col items-center gap-16 lg:max-w-3xl">
			<h3 class="text-center text-3xl font-extralight lg:text-left">Experiencia</h3>
			<ul class="flex flex-col gap-8 font-extralight">
				{
					work.map(({name, startDate, endDate, position, summary}) => {
						const startYear = new Date(startDate).getFullYear();
						const endYear = endDate != null ? new Date(endDate).getFullYear() : 'Actual';
						const years = `${startYear} - ${endYear}`;
						return (
							<li class="flex gap-8">
								<article>
									<header class="mb-1 flex flex-row justify-between">
										<div>
											<h3 class="purpletopink font-cascadiacode text-base lg:text-lg">{name}</h3>
											<h4 class="orangetored font-cascadiacode text-xs lg:text-base">{position}</h4>
										</div>
										<time class="bluetocyan font-cascadiacode text-base lg:text-lg">
											<span class="orangetored">&#123</span>
											{years}
											<span class="redtoorange">&#125</span>
										</time>
									</header>
									<footer class="text-justify">
										<p>{summary}</p>
									</footer>
								</article>
							</li>
						);
					})
				}
			</ul>
			<!-- <section>
				<p>
					Desarrollador Web Full Stack Junior apasionado por la tecnología y el aprendizaje
					constante. Con habilidades en tecnologías front-end y back-end, estoy listo para aportar
					soluciones innovadoras. Descubre mi portafolio para ver mis proyectos más recientes y mi
					crecimiento en el campo del desarrollo web.
				</p>
				
				<p>
					Desarrollador Web Full Stack Junior apasionado por la tecnología y el aprendizaje
					constante. Con habilidades en tecnologías front-end y back-end, estoy listo para aportar
					soluciones innovadoras. Descubre mi portafolio para ver mis proyectos más recientes y mi
					crecimiento en el campo del desarrollo web.
				</p>
			</section> -->
		</section>
		<AsideButtonContainer />
		<Footer />
	</MainContainer>
</Layout>

<style></style>
