---
import Layout from '@/layouts/Layout.astro';

import BottonAvailable from '@/components/BottonAvailable.astro';

import {basics} from '@cv';
import ButtonProyectos from '@/components/ButtonProyectos.astro';
import ButtonLinkedIn from '@/components/ButtonLinkedIn.astro';
import MainContainer from '@/components/MainContainer.astro';
import Footer from '@/components/Footer.astro';
const {summary} = basics;
---

<!-- Contenedor Principal -->
<Layout
	title="<ManuelDenis developer={full.Stack} content={portafolio} />"
	description='"Desarrollador Web Full Stack Junior apasionado por la tecnología y el aprendizaje constante. Descubre mi portafolio para ver mis proyectos más recientes y mi crecimiento en el campo del desarrollo web."'>
	<!-- Contenedor de la pagina principal -->
	<MainContainer>
		<section class="mt-16 flex flex-col items-center justify-center gap-16 lg:flex-row">
			<div class="flex max-w-lg flex-col items-center justify-center gap-16 lg:items-start lg:gap-8">
				<BottonAvailable />
				<h2
					class="purpletopink animate-fade-up animate-infinite animate-ease-in-out text-center font-mono text-5xl font-bold tracking-tight sm:text-5xl lg:text-left lg:text-6xl xl:text-7xl">
					Hola, soy {basics.name}
				</h2>
				<h3 class="text-center text-3xl font-extralight lg:text-left">Sobre Mi</h3>
				<p class="text-center text-lg font-light lg:text-left">{summary}</p>
				<div class="flex flex-col gap-8 lg:flex-row">
					<ButtonProyectos />
					<ButtonLinkedIn />
				</div>
			</div>
			<figure class="hidden aspect-[3/4] w-40 object-center lg:flex">
				<img class="object-cover" src="/assets/img/mandendev-foto-perfil.jpg" alt="Manuel Denis Developer - mandendev" />
			</figure>
		</section>
		<Footer />
	</MainContainer>
</Layout>

<style></style>
