---
import '@fontsource-variable/inter'; // Supports weights 100-900
import '../styles/main.css';
import MenuWrapper from '../components/MenuWrapper.astro';
import MenuContainer from '../components/MenuContainer.astro';
import LogoNav from '../components/LogoNav.astro';
import NavDesktop from '../components/NavDesktop.astro';
import SocialDesktop from '../components/SocialDesktop.astro';
import IconConfig from '../icons/IconConfig.astro';
import IconMenu from '../icons/IconMenu.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string; // Add the 'description' property
}

const {title, description} = Astro.props;
const {currentLocale} = Astro;
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="preload" href="/fonts/CascadiaCodePL.woff2" as="font" type="font/woff2" crossorigin />
	</head>
	<body class="block h-screen w-screen bg-black text-white antialiased">
		<div
			class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
		</div>
		<!-- Contenedor de las barras de navegacion -->
		<MenuWrapper>
			<MenuContainer>
				<header class="bg-black/50">
					<!-- Barra de navegacion Escritorio -->
					<nav class="mx-auto flex h-[5rem] max-w-screen-2xl items-center justify-between px-4">
						<LogoNav />
						<NavDesktop />
						<div class="ml-16 hidden lg:flex-1">
							<button class="link hidden items-center lg:flex"><IconConfig class="w-6" /></button>
						</div>
						<SocialDesktop />
						<button class="w-6 text-right lg:hidden"><IconMenu /></button>
					</nav>
					<!-- Barra de navegacion Movil -->
					<div class="hidden bg-orange-800 lg:hidden">
						<nav>
							<ul>
								<li><a href="/experiencia">Experiencia</a></li>
								<li><a href="/proyecto">Proyectos</a></li>
								<li><a href="/sobremi">Sobre mí</a></li>
								<li><a href="/contacto">Contacto</a></li>
							</ul>
						</nav>
						<div>
							<div>
								<a href="#">GH</a>
								<a href="#">LI</a>
							</div>
							<button>¿Hablamos?</button>
						</div>
					</div>
				</header>
				<hr class="border-t border-white/10 shadow-lg" />
			</MenuContainer>
		</MenuWrapper>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Cascadia Code PL';
		font-style: normal;
		font-weight: 400;
		font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
		src: url('/fonts/CascadiaCodePL.woff2') format('woff2');
	}
	html {
		scroll-behavior: smooth;
	}
	body {
		font-family: 'Inter Variable', sans-serif;
	}
	.link {
		@apply text-white transition-all duration-300 hover:text-white/60;
	}
	.purpletopink {
		@apply bg-gradient-to-r from-purple-500 to-pink-600 bg-clip-text font-extrabold text-transparent;
	}
	.pinktoorange {
		@apply bg-gradient-to-r from-pink-600 to-orange-400 bg-clip-text font-extrabold text-transparent;
	}
	.orangetored {
		@apply bg-gradient-to-r from-orange-400 to-red-600 bg-clip-text font-extrabold text-transparent;
	}
	.bluetocyan {
		@apply bg-gradient-to-r from-blue-400 to-cyan-600 bg-clip-text font-extrabold text-transparent;
	}
	.redtoorange {
		@apply bg-gradient-to-r from-red-400 to-orange-600 bg-clip-text font-extrabold text-transparent;
	}
	.hover-purpletopink {
		@apply text-white transition-all duration-300 hover:bg-gradient-to-r hover:from-purple-500 hover:to-pink-600 hover:bg-clip-text  hover:text-transparent;
	}
	.hover-pinktoorange {
		@apply text-white transition-all duration-300 hover:bg-gradient-to-r hover:from-pink-600 hover:to-orange-400 hover:bg-clip-text hover:text-transparent;
	}
	.hover-orangetored {
		@apply text-white transition-all duration-300 hover:bg-gradient-to-r hover:from-orange-400 hover:to-red-600 hover:bg-clip-text  hover:text-transparent;
	}
	.hover-bluetocyan {
		@apply text-white transition-all duration-300 hover:bg-gradient-to-r hover:from-blue-400 hover:to-cyan-600 hover:bg-clip-text  hover:text-transparent;
	}
	.hover-redtoorange {
		@apply text-white transition-all duration-300 hover:bg-gradient-to-r hover:from-red-400 hover:to-orange-600 hover:bg-clip-text  hover:text-transparent;
	}
	.bghover-purpletopink {
		@apply from-purple-500 to-pink-600 hover:bg-gradient-to-r;
	}
	.bghover-pinktoorange {
		@apply hover:bg-gradient-to-r hover:from-pink-600 hover:to-orange-400 hover:bg-clip-text hover:text-transparent;
	}
	.bghover-orangetored {
		@apply hover:bg-gradient-to-r hover:from-orange-400 hover:to-red-600 hover:bg-clip-text  hover:text-transparent;
	}
	.bghover-bluetocyan {
		@apply hover:bg-gradient-to-r hover:from-blue-400 hover:to-cyan-600 hover:bg-clip-text  hover:text-transparent;
	}
	.bghover-redtoorange {
		@apply hover:bg-gradient-to-r hover:from-red-400 hover:to-orange-600 hover:bg-clip-text  hover:text-transparent;
	}
</style>
